USE [master]
GO
/****** Object:  Database [KHODIENMAY]    Script Date: 5/18/2026 9:45:03 PM ******/
CREATE DATABASE [KHODIENMAY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KHODIENMAY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\KHODIENMAY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KHODIENMAY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\KHODIENMAY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KHODIENMAY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KHODIENMAY]
GO
/****** Object:  Table [dbo].[CT_KIEMKE]    Script Date: 5/18/2026 9:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_KIEMKE](
	[MaKiemKe] [varchar](20) NOT NULL,
	[MaHang] [varchar](20) NOT NULL,
	[TonKhoTheoSoSach] [int] NOT NULL,
	[TonKhoTheoThucTe] [int] NOT NULL,
	[ChenhLech]  AS ([TonKhoTheoThucTe]-[TonKhoTheoSoSach]),
PRIMARY KEY CLUSTERED 
(
	[MaKiemKe] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 5/18/2026 9:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[MaPhieuNhap] [varchar](20) NOT NULL,
	[MaHang] [varchar](20) NOT NULL,
	[SoLuongNhap] [int] NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
	[ThanhTienNhap]  AS ([SoLuongNhap]*[DonGiaNhap]),
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUXUAT]    Script Date: 5/18/2026 9:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUXUAT](
	[Mã Phiếu Xuất] [varchar](20) NOT NULL,
	[MaHang] [varchar](20) NOT NULL,
	[SoLuongXuat] [int] NOT NULL,
	[DonGiaXuat] [decimal](18, 2) NOT NULL,
	[ThanhTienXuat]  AS ([SoLuongXuat]*[DonGiaXuat]),
PRIMARY KEY CLUSTERED 
(
	[Mã Phiếu Xuất] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 5/18/2026 9:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[Mã Hàng] [varchar](20) NOT NULL,
	[Tên Hàng] [nvarchar](200) NOT NULL,
	[Loại hàng] [nvarchar](100) NOT NULL,
	[Đơn vị tính] [nvarchar](30) NOT NULL,
	[Đơn Giá] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Mã Hàng] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUKIEMKE]    Script Date: 5/18/2026 9:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUKIEMKE](
	[Mã Hàng] [varchar](20) NOT NULL,
	[Ngày Kiểm Kê] [datetime] NOT NULL,
	[Người Thực Hiện] [nvarchar](100) NULL,
	[Kết Quả] [nvarchar](50) NULL,
	[Ghi Chú] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Mã Hàng] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPKHO]    Script Date: 5/18/2026 9:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPKHO](
	[Mã Phiếu Nhập] [varchar](20) NOT NULL,
	[Ngày Nhập] [datetime] NOT NULL,
	[Nhà Cung Cấp] [nvarchar](200) NULL,
	[Người Thực Hiện] [nvarchar](100) NULL,
	[Ghi Chú] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Mã Phiếu Nhập] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUATKHO]    Script Date: 5/18/2026 9:45:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUATKHO](
	[Mã Phiếu XUất] [varchar](20) NOT NULL,
	[Ngày Nhập Kho] [datetime] NOT NULL,
	[Khách Hàng Xuất] [nvarchar](200) NULL,
	[Người Thực Hiện] [nvarchar](100) NULL,
	[Ghi chú] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Mã Phiếu XUất] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_KIEMKE] ([MaKiemKe], [MaHang], [TonKhoTheoSoSach], [TonKhoTheoThucTe]) VALUES (N'KK01', N'MH01', 8, 8)
INSERT [dbo].[CT_KIEMKE] ([MaKiemKe], [MaHang], [TonKhoTheoSoSach], [TonKhoTheoThucTe]) VALUES (N'KK02', N'MH02', 7, 6)
INSERT [dbo].[CT_KIEMKE] ([MaKiemKe], [MaHang], [TonKhoTheoSoSach], [TonKhoTheoThucTe]) VALUES (N'KK03', N'MH03', 4, 4)
GO
INSERT [dbo].[CT_PHIEUXUAT] ([Mã Phiếu Xuất], [MaHang], [SoLuongXuat], [DonGiaXuat]) VALUES (N'PX01', N'MH01', 2, CAST(13000000.00 AS Decimal(18, 2)))
INSERT [dbo].[CT_PHIEUXUAT] ([Mã Phiếu Xuất], [MaHang], [SoLuongXuat], [DonGiaXuat]) VALUES (N'PX02', N'MH02', 1, CAST(9500000.00 AS Decimal(18, 2)))
INSERT [dbo].[CT_PHIEUXUAT] ([Mã Phiếu Xuất], [MaHang], [SoLuongXuat], [DonGiaXuat]) VALUES (N'PX03', N'MH03', 2, CAST(8500000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[MATHANG] ([Mã Hàng], [Tên Hàng], [Loại hàng], [Đơn vị tính], [Đơn Giá]) VALUES (N'MH01', N'Tivi Samsung 55 inch', N'Điện tử', N'Cái', CAST(1000.00 AS Decimal(18, 2)))
INSERT [dbo].[MATHANG] ([Mã Hàng], [Tên Hàng], [Loại hàng], [Đơn vị tính], [Đơn Giá]) VALUES (N'MH02', N'Tủ lạnh LG Inverter', N'Điện lạnh', N'Cái', CAST(2000.00 AS Decimal(18, 2)))
INSERT [dbo].[MATHANG] ([Mã Hàng], [Tên Hàng], [Loại hàng], [Đơn vị tính], [Đơn Giá]) VALUES (N'MH03', N'Máy giặt Electrolux', N'Điện lạnh', N'Cái', CAST(3000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[PHIEUKIEMKE] ([Mã Hàng], [Ngày Kiểm Kê], [Người Thực Hiện], [Kết Quả], [Ghi Chú]) VALUES (N'KK01', CAST(N'2026-05-21T00:00:00.000' AS DateTime), N'Nguyễn Văn Anh Tuấn', N'Đạt', N'Kiểm kê định kỳ tháng 5')
INSERT [dbo].[PHIEUKIEMKE] ([Mã Hàng], [Ngày Kiểm Kê], [Người Thực Hiện], [Kết Quả], [Ghi Chú]) VALUES (N'KK02', CAST(N'2026-05-21T00:00:00.000' AS DateTime), N'Trần Thị Bích Ngọc', N'Lệch nhẹ', N'Chênh lệch nhỏ do sai số nhập liệu')
INSERT [dbo].[PHIEUKIEMKE] ([Mã Hàng], [Ngày Kiểm Kê], [Người Thực Hiện], [Kết Quả], [Ghi Chú]) VALUES (N'KK03', CAST(N'2026-05-21T00:00:00.000' AS DateTime), N'Lê Văn Công Minh', N'Đạt', N'Số liệu khớp hoàn toàn')
GO
INSERT [dbo].[PHIEUNHAPKHO] ([Mã Phiếu Nhập], [Ngày Nhập], [Nhà Cung Cấp], [Người Thực Hiện], [Ghi Chú]) VALUES (N'PN01', CAST(N'2026-05-01T00:00:00.000' AS DateTime), N'Công ty Cổ phần Thế Giới Di Động', N'Nguyễn Văn Anh Tuấn', N'Nhập hàng đầu tháng')
INSERT [dbo].[PHIEUNHAPKHO] ([Mã Phiếu Nhập], [Ngày Nhập], [Nhà Cung Cấp], [Người Thực Hiện], [Ghi Chú]) VALUES (N'PN03', CAST(N'2026-05-03T00:00:00.000' AS DateTime), N'Công ty TNHH Samsung Electronics Việt Nam', N'Lê Văn Công Minh', N'Nhập hàng điện tử')
INSERT [dbo].[PHIEUNHAPKHO] ([Mã Phiếu Nhập], [Ngày Nhập], [Nhà Cung Cấp], [Người Thực Hiện], [Ghi Chú]) VALUES (N'PN04', CAST(N'2026-05-04T00:00:00.000' AS DateTime), N'Công ty Panasonic Việt Nam', N'Phạm Văn Đức Hải', N'Nhập điều hòa')
GO
INSERT [dbo].[PHIEUXUATKHO] ([Mã Phiếu XUất], [Ngày Nhập Kho], [Khách Hàng Xuất], [Người Thực Hiện], [Ghi chú]) VALUES (N'PX01', CAST(N'2026-05-11T00:00:00.000' AS DateTime), N'Nguyễn Văn Nam', N'Lê Văn An', N'')
INSERT [dbo].[PHIEUXUATKHO] ([Mã Phiếu XUất], [Ngày Nhập Kho], [Khách Hàng Xuất], [Người Thực Hiện], [Ghi chú]) VALUES (N'PX02', CAST(N'2026-05-12T00:00:00.000' AS DateTime), N'Trần Thị Lan', N'Nguyễn Văn Bình', N'')
INSERT [dbo].[PHIEUXUATKHO] ([Mã Phiếu XUất], [Ngày Nhập Kho], [Khách Hàng Xuất], [Người Thực Hiện], [Ghi chú]) VALUES (N'PX03', CAST(N'2026-05-13T00:00:00.000' AS DateTime), N'Phạm Văn Hùng', N'Lê Văn Chung', N'')
GO
ALTER TABLE [dbo].[PHIEUKIEMKE] ADD  DEFAULT (getdate()) FOR [Ngày Kiểm Kê]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] ADD  DEFAULT (getdate()) FOR [Ngày Nhập]
GO
ALTER TABLE [dbo].[PHIEUXUATKHO] ADD  DEFAULT (getdate()) FOR [Ngày Nhập Kho]
GO
ALTER TABLE [dbo].[CT_KIEMKE]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[MATHANG] ([Mã Hàng])
GO
ALTER TABLE [dbo].[CT_KIEMKE]  WITH CHECK ADD FOREIGN KEY([MaKiemKe])
REFERENCES [dbo].[PHIEUKIEMKE] ([Mã Hàng])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[MATHANG] ([Mã Hàng])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PHIEUNHAPKHO] ([Mã Phiếu Nhập])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[MATHANG] ([Mã Hàng])
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT]  WITH CHECK ADD FOREIGN KEY([Mã Phiếu Xuất])
REFERENCES [dbo].[PHIEUXUATKHO] ([Mã Phiếu XUất])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD CHECK  (([DonGiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD CHECK  (([SoLuongNhap]>(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT]  WITH CHECK ADD CHECK  (([DonGiaXuat]>=(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT]  WITH CHECK ADD CHECK  (([SoLuongXuat]>(0)))
GO
USE [master]
GO
